<div class="page">
  <h1>Фотогалерея</h1>
  <div class="page__articles d-flex flex-wrap mt-5">
    <div v-for="photo in photos" class="page__articles-item-wrapper">
      <div
        class="page__articles-item"
        :key="`${photo.id}_${photo.url}`"
      >
        <div class="page__articles-img-wrapper">
          <img
            class="page__articles-item-img"
            :src="getPhoto(photo.url)"
            alt="image-article"
          />
        </div>
        <div
          class="page__articles-item-title-wrapper d-flex align-center cursor-pointer mt-1"
        >
        </div>
      </div>
    </div>
    </div>
    <h3 class="mt-5" v-if="!photos.length">Фотогалерея пуста</h3>
</div>
